<a href="https://colab.research.google.com/github/aabir13/AI-Club/blob/main/PDF_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip3 install pymupdf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymupdf in /usr/local/lib/python3.7/dist-packages (1.20.0)

In [8]:
import fitz

In [9]:
import pandas as pd

In [10]:
import cmath

In [11]:
doc=fitz.open('/content/Annual-Report-TataIndustries-FY21.pdf')

In [12]:
page1=doc[0]
page1

page 0 of /content/Annual-Report-TataIndustries-FY21.pdf

In [13]:
page4=doc[3]

In [14]:
words=page1.get_text("words")

In [15]:
words[0]

(246.3800048828125,
 659.09765625,
 302.8996887207031,
 695.760009765625,
 '77th',
 0,
 0,
 0)

In [16]:
words4=page4.get_text("words")
words4[1]

(90.72000122070312,
 158.2384490966797,
 104.8939208984375,
 168.2384490966797,
 'TO',
 1,
 0,
 0)

In [17]:
first_annots=[]
rec=page4.annots()
rec

## Importing table

In [18]:
pip install "camelot-py[cv]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting camelot-py[cv]
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 30 kB/s
Collecting PyPDF2>=1.26.0
  Downloading PyPDF2-2.3.1-py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 21.6 MB/s
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.3.5)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.10)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.21.6)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.8.9)
Collecting pdfminer.six>=20200726
  Downloading pdfminer.six-20220524-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 25.5 MB/s
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (7.1.2)
Collecting pdftopng>=0.2.3
  Downloading pdftopng-0.2.3-cp37-cp37m-manylinux2010_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 32.6 MB/s
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (4.1.2.30)
Collecting ghostscript>=0.7
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from ghostscript>=0.7->camelot-py[cv]) (57.4.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2022.1)
Collecting cryptography>=36.0.0
  Downloading cryptography-37.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 42.8 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.0.12)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from PyPDF2>=1.26.0->camelot-py[cv]) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->camelot-py[cv]) (1.15.0)
Installing collected packages: cryptography, PyPDF2, pdfminer.six, pdftopng, ghostscript, camelot-py
Successfully installed PyPDF2-2.3.1 camelot-py-0.10.1 cryptography-37.0.2 ghostscript-0.7 pdfminer.six-20220524 pdftopng-0.2.3

In [19]:
import camelot

In [20]:
import numpy as np

In [21]:
ntable=camelot.read_pdf('Annual-Report-TataIndustries-FY21.pdf',pages='0-285',flavor='stream')
ntable

/usr/local/lib/python3.7/dist-packages/camelot/parsers/stream.py:365: UserWarning: No tables found in table area 1
  warnings.warn(f"No tables found in table area {table_idx + 1}")
/usr/local/lib/python3.7/dist-packages/camelot/parsers/stream.py:365: UserWarning: No tables found in table area 2
  warnings.warn(f"No tables found in table area {table_idx + 1}")

In [22]:
ntable[5]

In [23]:
ntable[5].parsing_report

{'accuracy': 99.18, 'order': 1, 'page': 4, 'whitespace': 39.35}

In [24]:
df1=ntable[5].df
df1

,0,1,2,3,4
0,,STANDALONE,,CONSOLIDATED,
1,,FY 2020-21,FY 2019-20,FY 2020-21,FY 2019-20
2,P a r t i c u l a r s,,,,
3,,Rs. Crores,Rs. Crores,Rs. Crores,Rs. Crores
4,Total Income,259.64,280.70,333.81,545.70
5,Total Expenditure,328.05,315.53,597.00,380.20
6,Profit / (Loss) from Continuing,(68.41),(34.83),(263.19),165.50
7,"Operations, before share of",,,,
8,profit of equity accounted,,,,
9,investees and income tax,,,,
10,Share of (Loss) of equity accounted,-,-,(401.03),(275.72)
11,investees (net of income tax),,,,
12,Profit / (Loss) before Tax from,(68.41),(34.83),(664.22),(110.22)
13,Continuing Operations,,,,
14,Tax Expense / (credit),(2.53),-,(2.23),(3.66)
15,Profit / (Loss) after Tax,(65.88),(34.83),(661.99),(106.56)
16,Profit / (Loss) for the year from,-,327.85,-,343.13
17,discontinuing operations / disposal,,,,
18,of asset held for sale after tax,,,,
19,Profit / (Loss) for the year,(65.88),293.02,(661.99),236.57
20,Other Comprehensive Income,"1,825.33",(816.54),"1,703.56",(709.52)
21,for the year,,,,
22,Total Comprehensive Income,"1,759.45",(523.52),"1,041.57",(472.94)
23,for the year – attributable to Owners,,,,
24,of the Parent Company,,,,
25,Continuing,(6.10),(3.23),(61.32),(9.87)
26,Operations,,,,
27,Earnings\nDiscontinuing,,,,
28,Per Share\nOperations / disposal,,,,
29,(Rs.)\nof asset held for sale,-,30.37,-,31.78
30,Total Operations,(6.10),27.14,(61.32),21.91

In [25]:
ntable[15].parsing_report

{'accuracy': 100.0, 'order': 2, 'page': 13, 'whitespace': 29.55}

In [26]:
df2=ntable[15].df
df2

      0                                  1          2           3
0                                            NIC Code  % to total
1   Sr.            Name and Description of     of the    turnover
2   No.           main products / services  Product /      of the
3                                             service     company
4     1                        Head Office
5          Activities of Holding Companies        642       16.47
6     2    Tata Strategic Management Group
7        Management consultancy activities        702       20.12
8     3            Tata ClassEdge Division
9             Educational support services        855       27.08
10    4                Tata Digital Health        477       31.23